<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Financial Monopoly</title>
        
        <!-- Import Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <!-- Import jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <!-- Import JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <!-- Favicon -->
        <link rel="icon", href="{{ url_for('static', filename='img/favicon.png') }}" />
        
        <!-- Custom CSS -->
<!--        <link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}"/>-->
        
        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='js/play.js') }}"></script>
    </head>
    
    <body>
    <div id="wrapper">
        
            <h1>Financial Monopoly</h1>
            <br>  
            <h2>Play Screen</h2>
            <br>
        
    </div>
    </body>    
            
            
            
        